<table class="table table-hover">
        <thead>
            <tr>
                <th>Lớp</th>
                <th>Sĩ số</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cls of service.list">
                <td (click)="populateForm(cls)">{{cls.ClassName}}</td>
                <td (click)="populateForm(cls)">{{cls.Amount}}</td>
                <td><button (click)="onDelete(cls.ClassID)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i></button></td>
            </tr>
        </tbody>
    </table>