<table class="table table-hover">
        <thead>
            <tr>
                <th>Môn học</th>
                <th class="text-center">Điểm 15 phút</th>
                <th class="text-center">Điểm 1 tiết</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sub of service.list">
                <td (click)="populateForm(sub)">{{sub.MonHocName}}</td>
                <td (click)="populateForm(sub)" class="text-center">{{sub.Diem15}}</td>
                <td (click)="populateForm(sub)" class="text-center">{{sub.Diem45}}</td>
                <td><button (click)="onDelete(sub.MonHocID)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i></button></td>
            </tr>
        </tbody>
    </table>